@tailwind base;
@tailwind components;
@tailwind utilities;


/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #fff;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

button{
    border: 1px solid #000;
    color: #fff;
    background-color: #052707;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align: center;
}

button:hover{
    border: 1px solid #052707;
    background-color: #fff;
    color: #052707;
}